*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:185vh;
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:#011015;

}
.container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ring
{
    
    width:100px;
    height:200px;
    border:0px solid black;
    border-radius:50%;
    position:absolute;
}
.ring:nth-child(1)
{
    border-bottom-width: 8px;
    border-color:  orange;
    animation:rotate1 2s linear infinite;
}

.ring:nth-child(2)
{
    border-right-width: 8px;
    border-color: white;
    animation:rotate2 2s linear infinite;
}
.ring:nth-child(3)
{
    border-top-width: 8px;
    border-color:  rgb(0,255,13);
    animation:rotate3 2s linear infinite;
}
.loading{
    color: orange;
}


@keyframes rotate1{
    0%{
        transform:rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%{
        transform:rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate2{
    0%{
        transform:rotateX(50deg) rotateY(10deg) rotateY(0deg);
    }
    100%{
        transform:rotateX(50deg) rotateY(10deg) rotateY(360deg);
       
    }
}

@keyframes rotate3{
    0%{
        transform:rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100%{
        transform:rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}